@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        To use our application, Go to <a href="user-login">Login</a> page and log in. Or if you do not have an user account, Create an account on <a href="new-user-registration">Registration</a> page. .
    </p>
</div>
